@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

a{
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
    color:rgb(98, 98, 98);
}

p {
    margin-bottom: 0;
}

.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main {
    background-image: url('https://wallpaperaccess.com/full/3161112.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.bold {
    font-weight: 700;
}

.nav-list-item {
    display: inline-block;
    margin: 0 20px;
}
.text-gold {
    color: rgb(197, 183, 144);
}

/* .text-gold:hover {
    color: rgb(231, 196, 99);
} */

.nav-bar {
    padding: 40px 0;
}

.nav-url {
    text-decoration: none;
    margin: 0 20px;
}

.nav-urls {
    margin: auto 0;
}

.logo {
    max-width: 170px;
}

.mid {
    margin: 70px 0 0 0;
}

.mid-text {
    width: 30%;
    text-align: left;
    margin: auto 0;
}

.mid-h {
    width: 80%;
    margin: 0 0 10px 0;
    font-weight: 700;
    line-height: 1.1;
}

.mid-p {
    font-weight: 400;
    font-size:15px;
    margin: 0 0 40px 0;
}

.mid-btn{
    color: white;
    background-image: linear-gradient(to right, #3461AE, #3487ae);
    border: none;
    font-size: 12px;
    border-radius: 50px 50px 50px 50px;
    padding: 15px 28px;
}
.mid-link {
    color: rgb(98, 98, 98);
    margin: 0 20px;
    font-size: 12px;
}

.mid-form {
    margin: 0 0 20px 0;
}

.mid-form-wrapper {
    width: 30%;
    background: white;
    border-radius: 20px;
    padding: 30px;
    text-align: left;
}

.mid-table-wrapper {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px 20px 0 0;
}

.input-text {
    border: none;
    display: block;
    width: 100%;
    font-weight: 700;
}

.input-text:focus {
    outline: none;
}

.mid-form-label {
    margin: 0 0;
    font-size: 13px;
}

.form-table {
    border-collapse: collapse;
    border-style: hidden;
}

.form-sections {
    border: 1px solid rgb(226, 226, 226);
    padding: 6px 8px;
}

.mid-form-btn {
    background: linear-gradient(to left, #3461AE, #3487ae);
    border-radius: 0 0 20px 20px;
    padding: 15px 0;
    border: none;
    width: 100%;
}

.pop-room-wrapper {
    width: 100%;
    border-top: 1px dotted rgb(226, 226, 226);
}

.pop-room-sec {
    margin: 20px 0 0 0;
}

.pop-room-btn {
    margin: auto 0;
    color: #3487ae;
    background-color: rgb(201, 217, 224);
    border: none;
    font-size: 12px;
    border-radius: 30px 30px 30px 30px;
    padding: 10px 22px;
}

.pop-room-price {
    font-size: 10px;
    color: rgb(98, 98, 98);
}