@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

a{
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
    color:rgb(98, 98, 98);
}

p {
    margin-bottom: 0;
}

.fs-12 {
    font-size: 12px;
}

.fs-15 {
    font-size: 15px;
}

.fs-10 {
    font-size: 10px;
}

.text-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main {
    background-image: url('https://wallpaperaccess.com/full/3161112.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.text-gold {
    color: rgb(197, 183, 144);
}

.nav-bar {
    padding: 40px 0;
}

.logo {
    max-width: 170px;
}

.mid-text {
    width: 30%;
    text-align: left;
    margin: 80px 0 0 0;
}

.mid-h {
    width: 80%;
    line-height: 1.1;
}

.mid-btn{
    background-image: linear-gradient(to right, #3461AE, #3487ae);
    padding: 15px 28px;
}
.mid-link {
    color: rgb(98, 98, 98);
}

.mid-form-wrapper {
    width: 350px;
    border-radius: 20px;
    padding: 30px;
}

.mid-table-wrapper {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px 20px 0 0;
}

.border-none {
    border: none;
}

.border-none:focus {
    outline: none;
}

.mid-form-label {
}

.form-table {
    border-collapse: collapse;
    border-style: hidden;
}

.form-sections {
    border: 1px solid rgb(226, 226, 226);
    padding: 6px 10px;
}

.mid-form-btn {
    background: linear-gradient(to left, #3461AE, #3487ae);
    border-radius: 0 0 20px 20px;
    padding: 15px 0;
    width: 100%;
}

.pop-room-wrapper {
    border-top: 1px dotted rgb(226, 226, 226);
}

.pop-room-btn {
    color: #3487ae;
    background-color: rgb(201, 217, 224);
    padding: 10px 22px;
}

.pop-room-price {
    color: rgb(98, 98, 98);
}