@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

a{
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
    color:rgb(98, 98, 98);
}

p {
    margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    background-color: white;
    border: 1px solid rgb(226, 226, 226)
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
    --animate-duration: 2000ms;
    --animate-delay: 0.9s;
}

.fs-12 {
    font-size: 12px;
}

.fs-15 {
    font-size: 15px;
}

.fs-10 {
    font-size: 10px;
}

.text-white {
    color: white;
}

.bg-white {
    background-color: white;
}

.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.main {
    background-image: url('Components/img/background-mr.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.text-gold {
    color: rgb(197, 183, 144);
}

.nav-bar {
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    display: inline;
}

.logo {
    max-width: 170px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.mid {
    display: flex;
    justify-content: space-evenly;
}

.mid-text {
    width: 30%;
    text-align: left;
    margin: 80px 0 0 0;
}

.mid-h {
    width: 80%;
    line-height: 1.1;
}

.mid-btn{
    background-image: linear-gradient(to right, #3461AE, #3487ae);
    padding: 15px 28px;
}
.mid-link {
    color: rgb(98, 98, 98);
}

.mid-form-wrapper {
    width: 350px;
    border-radius: 20px;
    padding: 30px;
}

.mid-table-wrapper {
    border: 1px solid rgb(226, 226, 226);
    border-bottom: none;
    border-radius: 20px 20px 0 0;
}

.border-none {
    border: none;
}

.border-none:focus {
    outline: none;
}

.form-table {
    border-collapse: collapse;
    border-style: hidden;
}

.form-sections {
    border: 1px solid rgb(226, 226, 226);
    padding: 10px 12px;
}

.mid-form-btn {
    background: linear-gradient(to left, #3461AE, #3487ae);
    border-radius: 0 0 20px 20px;
    padding: 15px 0;
    width: 100%;
}

.pop-room-wrapper {
    border-top: 1px dotted rgb(226, 226, 226);
}

.pop-room-btn {
    color: #3487ae;
    background-color: rgb(201, 217, 224);
    padding: 10px 22px;
}

.pop-room-price {
    color: rgb(98, 98, 98);
}

@media screen and (min-height: 890px) and (max-width:890px)){
    .main {
      height: 1000px;
    }
  }

@media screen and (min-height: 990px) {
    .main {
      height: 1100px;
    }
}
@media screen and (min-height: 1090px) {
    .main {
      height: 1200px;
    }
}    
@media screen and (min-height: 1190px) {
    .main {
      height: 1300px;
    }
}    
@media screen and (min-height: 1290px) {
    .main {
      height: 1400px;
    }
}    
@media screen and (max-width: 990px) {
    .mid-h {
        font-size: 30px;
    }
    .mid-p {
        font-size: 12px;
    }
}

@media screen and (max-width: 850px) {
    .nav-bar {
        background-color: white;
        padding: 20px 0;
        justify-content: space-between;
    }
    .logo {
        max-width: 150px;
    }
    .nav-link {
        display: none;
    }
    .mid {
        display: block;
    }
    .mid-text{
        width: 90%;
        margin: 50px auto;
        text-align: center;
    }
    .mid-form-wrapper {
        margin: 0 auto;
    }
}        